# Emacs files that might be site-local or contains sensitive data
emacs/.emacs.d/tramp
emacs/.emacs.d/org
emacs/.emacs.d/backups
emacs/.emacs.d/persistent-scratch
emacs/.emacs.d/remote-hosts.el
emacs/auto-save-list
emacs/%*
pcache
*.elc
*.dat
*~
.elscreen
*.lock
.newsrc-dribble
bookmarks
lastdir
history
archive-contents
url/
tmp/

*.pyc
/emacs/.emacs.d/.org-id-locations
/emacs/.emacs.d/elpa

*.orig